* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
}

#map {
  width: 100%;
  height: 100%;
}

.username-container {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(135deg, #6e8efb, #a777e3);
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 90%;
  max-width: 400px;
}

.username-container h2 {
  color: white;
  margin-bottom: 20px;
  font-size: 24px;
}

#username-input {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  border: none;
  border-radius: 25px;
  font-size: 18px;
  outline: none;
  transition: box-shadow 0.3s;
}

#username-input:focus {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

#username-submit {
  padding: 15px 30px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 25px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

#username-submit:hover {
  background-color: black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

@media (max-width: 600px) {
  .username-container {
    width: 90%;
    padding: 20px;
  }

  #username-submit {
    width: 100%;
    padding: 15px;
  }
}